
ul.actions {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin: 0;
	padding: 5px;

	&.general {
		border-bottom: 1px solid #ccc;
	}

	&.selection {
		border-top: 1px solid #ccc;
	}
}

.action {
	cursor: pointer;
	line-height: 16px;
	padding: 4px 8px 4px 26px;
}

.action,
ul.actions > li {
	background-color: white;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	display: inline-block;
	transition: background-color .1s;

	&:hover {
		background-color: #f4f4f4;
	}
}

.action,
ul.actions > li > * {
	line-height: 16px;
	padding: 4px 8px 4px 26px;
}

ul.actions > li {

	> a {
		display: inline-block;
	}

	> input {
		background: none;
		border: none;
		cursor: pointer;
	}
}
